<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="20"
      package="com.kodholken.passdroid" android:versionName="1.9">
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true"/>
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="15"/>
        
    <application android:icon="@drawable/safe_icon_large"
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Sherlock.Light.DarkActionBar">

        <activity android:label="@string/app_name" android:name="MainActivity"
        		  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
                  android:name=".PasswordListActivity"/>
        
        <activity android:label="@string/about_title"
                  android:name=".AboutActivity"
                  android:icon="@drawable/safe_icon_large"
                  android:theme="@style/Passdroid.Dialog"/>
        
        <activity android:label="@string/add_title"
                  android:name=".AddActivity"/>

        <activity android:label="@string/edit_title"
                  android:name=".EditActivity"/>
        
        <activity android:label="@string/login_title"
                  android:name=".LoginActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity android:label="@string/app_name"
                  android:name=".ShowActivity"/>

        <activity android:label="@string/initialize_title"
                  android:name=".InitializeActivity"/>
                  
        <activity android:label="@string/settings_title"
                  android:name=".SettingsActivity"/>

        <activity android:label="@string/change_password_title"      
                  android:name=".ChangePasswordActivity"/>

        <activity android:label="@string/import_export_title"
                  android:name=".ImportExportActivity"/>
                
        <activity android:label="@string/file_export_title"        
                  android:name=".FileExportActivity"/>
        
        <activity android:label="@string/file_import_title"       
                  android:name=".FileImportActivity"/>
                  
        <activity android:label="@string/generate_password_title"
                  android:theme="@style/Passdroid.Dialog"
                  android:name=".GeneratePasswordActivity"/>
                 
        <activity android:label="@string/generate_password_title"
                  android:theme="@style/Passdroid.Dialog"
                  android:name=".DisplayPasswordActivity"/>
        
        <activity android:label="@string/import_password_title"
                  android:theme="@android:style/Theme.Dialog"
                  android:name=".ImportPasswordActivity"/>
                         
    </application>
    
</manifest>
